{%- comment -%}
post-timeline.html
Usage example:
{% include post-timeline.html collection=site.posts limit=5 index='/blog/index.html' %}

Expects:
collection (array, required) - A list of posts or other objects to display.
limit (integer, optional) - Number of posts to display (default: all).
index (string, optional) - Index page for the collection.
{%- endcomment -%}

{%- assign timeline_collection = include.collection | sort: "date" | reverse %}
{%- assign timeline_post_limit = include.limit | default: -1 %}
{%- if timeline_post_limit < 0 %}{%- assign timeline_post_limit=collection.size %}{%- endif %}
{% assign timeline_index=include.index %}
<div class="mx-auto mb-8">
  {%- for post in timeline_collection | limit: timeline_post_limit %}
  {%- include post-timeline-card.html post=post %}
  {%- endfor %}
  {%- if timeline_collection.size > timeline_post_limit and timeline_index != blank %}
  <div class="mx-auto py-3">
    <a href="{{ timeline_index | relative_url }}"
      class="Link--primary arrow-target-mktg text-semibold btn width-full text-center">More</a>
  </div>
  {%- endif %}
  </div>
